---
import Layout from '../layouts/Layout.astro';
import ChatBox from '../components/ChatBox.astro';
import SocialPill from '../icons/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Mail from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../icons/Briefcase.astro';

---

<Layout 
	title="David Guzman | Software Engineer | FullStack Developer"
	description="Developer frontend and Backend specialized in web development"
>
	<main>
		<section class=`flex justify-center py-210`>
			<img class="h-svh " src="../public/images/DavidGuzman.png" alt="" />
			<div class="flex-col">
				<div class="flex flex-col items-start gap-2.5 mt-20">
					<ChatBox />
				</div>
				<div class="flex gap-x-2 mt-4 text-sm">
					<SocialPill href="https://github.com/davidguzmandev">
						<GitHub class="w-6 h-6"/>
						GitHub
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/david-gzro/">
						<LinkedIn class="w-6 h-6"/>
						LinkedIn
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/david-gzro/">
						<Mail class="w-6 h-6"/>
						daguz.91@gmail.com
					</SocialPill>
				</div>
			</div>
		</section>
			
		<SectionContainer id="experience">
				<h1 class="text-2xl font-bold mb-6 flex gap-x-3 items-center">
					<Briefcase />
					Experience
				</h1>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
