---
import Layout from '../layouts/Layout.astro';
import ChatBox from '../components/ChatBox.astro';
import SocialPill from '../icons/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Mail from '../icons/Mail.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../icons/Briefcase.astro';
import Code from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
import About from "../components/About.astro";
import ProfileCheck from "../icons/ProfileCheck.astro"
import TechIcon from '@/icons/TechIcon.astro';
import Tech from '@/components/Tech.astro';
---

<Layout
	title="David Guzman | Software Engineer | FullStack Developer"
	description="Developer frontend and Backend specialized in web development. Available to Work."
>
	<main class="px-4 mt-20">
		<section class=`flex flex-col md:flex-row justify-center items-center md:items-start py-16 md:pt-3 md:pb-36`>
			<img class="h-svh" src="../images/DavidGuzman.png" alt="" />
			<div class="flex-col">
				<div class="flex flex-col items-start gap-2.5 mt-6">
					<ChatBox />
				</div>
				<div class="flex gap-x-2 mt-4 text-sm">
					<SocialPill href="https://github.com/davidguzmandev">
						<GitHub class="w-6 h-6"/>
						GitHub
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/david-gzro/">
						<LinkedIn class="w-6 h-6"/>
						LinkedIn
					</SocialPill>
					<SocialPill href="mailto:daguz.91@gmail.com">
						<Mail class="w-6 h-6"/>
						daguz.91@gmail.com
					</SocialPill>
				</div>
			</div>
		</section>
		<div class="space-y-24">
			<SectionContainer id="experience">
					<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
						<Briefcase />
						Experience
					</h2>
				<Experience />
			</SectionContainer>

			<SectionContainer id="projects">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<Code />
					Projects
				</h2>
				<Projects />
				<p class="font-semibold py-20 text-center">
					<a href="https://davidguzman.dev/v2/portfoliodavidguzman/" target="_blank" rel="noopener noreferrer">More projects</a>
				</p>
			</SectionContainer>

			<SectionContainer id="about">
				<h2
				  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
				>
				  <ProfileCheck class="size-8" />
				  About Me
				</h2>
				<About />
			</SectionContainer>

			<SectionContainer id="tech">
				<h2
				  class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
				>
				  <TechIcon class="size-8" />
				  Technologies
				</h2>
				<Tech />
			</SectionContainer>
		</div>
	</main>
</Layout>
