---
 const personalImageAlt = "David Guzman"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-cyan-700 dark:[&>p>strong]:text-cyan-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
        My name is David Guzman. I am a passionate <strong>Frontend Developer</strong> transitioning from the petrochemical industry to a full-time software role. With a solid background in <strong>web development</strong>, I focus on creating exceptional user experiences through attractive and functional designs. 
    </p>
    <p>
        Proficient in HTML, CSS, JavaScript, and frameworks like React and Vue, I continuously update my skills to stay current with frontend development trends. My teamwork and problem-solving abilities enable effective collaboration with designers and <strong>backend developers</strong> to deliver high-quality digital products.
    </p>
  </div>

  <img width="200" height="200" src="../public/images/DavidGuzman.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64" style="object-position: 50% 50%">

</article>