---
import Lang from "../icons/Lang.astro";
import Theme from "./Theme.astro";

---

<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <a href="/">
        <img class="h-12 w-auto" src="/public/images/Davidwhite.png" alt="David Guzman logo">
    </a>

    <nav class="flex flex-row gap-x-10">
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>

        <Lang />

    </nav>

</header>