---
import Lang from "../icons/Lang.astro";
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Experience",
    label: "experience",
    url: "/#experience",
  },
  {
    title: "Projects",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "About",
    label: "about",
    url: "/#about",
  },
  {
    title: "Contact",
    label: "contact",
    url: "mailto:daguz.91@gmail.com",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
    <nav
        class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
    >
      <a href="/#home" id="logo" class="md:visible hidden md:block">
        <img class="h-10 w-auto invisible md:visible mr-28" src="../images/Davidwhite.png" alt="David Guzman">
      </a>
      {
          navItems.map((link) => (
          <a
              class="relative block px-2 py-2 transition hover:text-cyan-800 dark:hover:text-cyan-800"
              aria-label={link.label}
              href={link.url}
          >
              {link.title}
          </a>
          ))
      }
      <ThemeToggle />
      <!-- <Lang /> -->
    </nav>
</header>

<script>
    document.addEventListener("scroll", () => {
      const scrollPosition = window.scrollY;
      const logo = document.getElementById("logo");

      if (scrollPosition > 0 && logo && !logo.classList.contains('hide')) {
        // Añadir la clase 'hide' para ocultar el logo con una transición suave
        logo.classList.add('hide');
        setTimeout(() => {
          // Elimina el logo del DOM después de la transición
          if (logo.classList.contains('hide')) {
            logo.remove();
          }
        }, 300); // Duración de la transición en milisegundos
      } else if (scrollPosition === 0 && !document.getElementById("logo") && window.innerWidth >= 767) {
        // Si se vuelve al top y el logo no existe, volver a crearlo
        const newLogo = document.createElement("a");
        newLogo.href = "/#home";
        newLogo.id = "logo";
        newLogo.innerHTML = `<img class="h-10 w-auto invisible md:visible mr-28" src="/public/images/Davidwhite.png" alt="David Guzman">`;

        // Insertar el nuevo logo en la primera posición del nav
        const nav = document.querySelector("header nav");
        nav?.insertBefore(newLogo, nav.firstChild);

        // Forzar el reflow para asegurarse de que la transición se aplique
        requestAnimationFrame(() => {
          newLogo.classList.remove('hide');
        });
      }
    });

    document.addEventListener("astro:page-load", () => {
      const sections = document.querySelectorAll("section")
      const navItems = document.querySelectorAll("header nav a")
  
      const callback = (entries: any[]) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            navItems.forEach((item) => {
              if (item.getAttribute("aria-label") == entry.target.id) {
                item.classList.add("text-cyan-900")
              } else {
                item.classList.remove("text-cyan-900")
              }
            })
          }
        })
      }
  
      const observer = new IntersectionObserver(callback, {
        root: null,
        rootMargin: "0px",
        threshold: 0.3,
      })
  
      sections.forEach((section) => {
        observer.observe(section)
      })
  
      // Cleanup function
      document.onvisibilitychange = () => {
        if (document.visibilityState === "hidden") {
          observer.disconnect()
        } else {
          sections.forEach((section) => {
            observer.observe(section)
          })
        }
      }
    })
  </script>

<style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }

    #logo {
      transition: opacity 0.3s ease, transform 0.3s ease;
      opacity: 1;
      transform: translateY(0);
    }

    #logo.hide {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    @keyframes nav-shadown {
      to {
        @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
      }
    }
  </style>
  